body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;
  
    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;
  
    /* color text */
    color: #242121;
  }
  
  h1 {
    /* position the heading */
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 2%;
    /* make sure that the heading is drawn on top */
    z-index: 1;
    pointer-events: none;

  }
  
  #container {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;

    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: skyblue;
  }

  #button{
    position: absolute;
    top: 2%;
    right: 2%;
  }